{% load static %}
<!doctype html>
<html>
<head>
    <style>
    img{
    width:1600px;
    height:500px;
}
    </style>
</head>
<body>
    {% include 'navbar.html' %}
    <img src={% static 'ab.jpg' %}>
    <p>
    <center><h1>ABOUT EDUCARE</h1></center>    
        The world has changed a lot not before, and become more competitive, people are running behind making a better career . Choosing your career is an important decision you will ever take to make a better career and life. That decision should be life-changing.

EDUCARE is the best CA CMA Coaching Centre in Kochi, Kerala for CA CMA aspirants. At I-LEARNING all the courses and syllabus are designed and implemented by Chartered Accountants . We are admired by many aspirants because of having highly qualified faculty, the advanced classroom facilities, Modern teaching techniques , Individual caring etc. We ensure that the students will get better results and career. We have the legacy of producing many Chartered Accountants and Certified Management Accountants. We always make sure that the institution will help you to build a better career and life
    </p>
    {% include 'navbar.html' %}
  {% include 'footer.html' %}
</body>
</html>







