{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <style>
           img{
                width:1600px;
                height:500px;
            }
   </style>
</head>
<body>
    <img src={% static 'd1.jpg' %}>
    
    <h2>PROFESSIONAL ACCOUNTANT PROGRAM</h2>   
    <h3>DURATION  6 MONTHS</h3>
    <ol type="i">
        <li>SAP FICO  Advanced</li>
        <li>Tally  Pro (Tally ERP 9 & Prime )</li>
        <li>GST</li>
        <li>Income tax  & TDS</li>
        <li>UAE-VAT</li>
        <li>Corporate Accounting</li>
        <li>Finalisation of Accounts</li>
        <li>MS Excel</li>
        <li>Practical Training</li>
    </ol>
    <h3>Certificates</h3>
    <ol type="i">
        <li>SAP</li>
        <li>Tally</li>
        <li>Experience</li>
        <li>Course Completion</li>
    </ol>
    <h3>Our Specialities
    </h3>
    <ol type="i">
        <li>Chartered Accountant Co-ordinated classes</li>
        <li> Practical Training  based on Real files</li>
        <li> Lowest Fees</li>
        <li>Experienced faculty</li>
        <li>Experience and Course completion Certificate</li>
    </ol>
    {% include 'navbar.html' %}
    {% include 'footer.html' %} 
</body>
</html>













